@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.content {
    margin: auto;
    width: 1120px;
    height: 1284px;
}
.title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: bold;
}
.container {
    margin-bottom: 82px;
    display: grid;
    grid-template-columns: repeat(4, 256px);
    grid-template-rows: repeat(4, 256px);
    grid-gap: 32px;
}
.item {
    padding-left: 18px;
    padding-top: 16px;
    padding-bottom: 19px;
}

.item:nth-child(1){
    background-image: url(../img/Rectangle\ 25.png);
}
.item:nth-child(2){
    background-image: url(../img/Rectangle\ 44.png);
}
.item:nth-child(3){
    grid-column: 3/5;
    grid-row: span 2;
    background-image: url(../img/Rectangle\ 34popular-3.png);
}
.item:nth-child(4){
    background-image: url(../img/Rectangle\ 63.png);
}
.item:nth-child(5){
    background-image: url(../img/Rectangle\ 64.png);
}
.item:nth-child(6){
    grid-column: 1/3;
    grid-row: span 2;
    background: url(../img/Rectangle\ 69.png) no-repeat;
}
.item:nth-child(7){
    background-image: url(../img/Rectangle\ 65.png);
}
.item:nth-child(8){
    background-image: url(../img/Rectangle\ 67.png);
}
.item:nth-child(9){
    background-image: url(../img/Rectangle\ 66.png);
}
.item:nth-child(10){
    background-image: url(../img/Rectangle\ 68.png);
}
.text{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    
    color: white;
    line-height: 130%;
}
.item_title{
    width: 218px;
    height: 74px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}
.price{
    margin-top: 130px;
    font-size: 16px;
    font-weight: bold;
}

.item:nth-child(3) .item_title{
    width: 450px;
    height: 63px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
}
.item:nth-child(6).item_title{
    width: 407px;
    height: 63px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
}

.country ,.duration{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
}

.item:nth-child(3) .item_title{
    width: 450px;
    height: 63px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
}
.item:nth-child(6) .price{
    margin-top: 328px;
}
.item:nth-child(3) .price{
    margin-top: 359px;
}
